@import './base.css';

.light-theme {
  --bg-color-1: #D8D3CD;
  --bg-color-2: #F7F2E7;
  --detail-color-1: #E0ECE4;
  --detail-color-2: #797A7E;
  --text-color-1: black;
}

.dark-theme {
  --bg-color-1: #2b2a33;
  --bg-color-2: #393e46;
  --detail-color-1: #00bbc5;
  --detail-color-2: #00dfd7;
  --text-color-1: white;
}
