@import './base.css';

.light-theme {
  --bg-color-1: #e8e8e8;
  --bg-color-2: #495464;
  --detail-color-1: #bbbfca;
  --detail-color-2: #f4f4f2;
  --text-color-1: black;
}

.dark-theme {
  --bg-color-1: #2b2a33;
  --bg-color-2: #393e46;
  --detail-color-1: #00bbc5;
  --detail-color-2: #00dfd7;
  --text-color-1: white;
}
